<h1>Dice!</h1>

<p>I love tacos</p>

<%
  fillings = ["Carnitas", "Al Pastor", "Pescado", "Avocado"]
%>

<p>We have <%= fillings.count %> tacos</p>

<ul>
  <% for taco in fillings %>
    <li><%= taco %></li>
  <% end %>
</ul>